@using Calcium.Core;
@using System.Text.RegularExpressions
@using Microsoft.JSInterop

@inject IJSRuntime JS

@if (Parameters != null)
{
    <div class="countdown-widget" @attributes=AdditionalAttributes>
        <h5>
            @foreach (var token in SplitTokensInString(@Parameters.Heading))
            {
                @RenderFragmentAsStringOrImage(token)
                ;
            }
        </h5>
        <div class="countdown-container">

            <div class="count-wrap">
                <div class="ticker">
                    <p id="days">@_days</p>
                    <span class="caption">Days</span>
                </div>
            </div>
            <div class="count-wrap">
                <div class="ticker">
                    <p id="hours">@string.Format("{0:00}", @_hours)</p>
                    <span class="caption">Hours</span>
                </div>
            </div>
            <div class="count-wrap">
                <div class="ticker">
                    <p id="minutes">@string.Format("{0:00}", @_minutes)</p>
                    <span class="caption">Minutes</span>
                </div>
            </div>
            <div class="count-wrap">
                <div class="ticker">
                    <p id="seconds">@string.Format("{0:00}", @_seconds)</p>
                    <span class="caption">Seconds</span>
                </div>
            </div>
        </div>
        @if (Parameters.Event != null)
        {
            <button type="button" class="button secondary-outline-500" @onclick="DownloadICSFile">@Parameters.Event.Label</button>
        }
    </div>
}

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }

    [Parameter]
    public Calcium.Core.Models.Widgets.Countdown? Parameters { get; set; }

    private System.Timers.Timer _timer = new System.Timers.Timer(1000);
    private int _days, _hours, _minutes, _seconds = 0;

    protected override async Task OnInitializedAsync()
    {
        _timer.Elapsed += (sender, eventArgs) => RunCountdown();
        _timer.Start();

        await base.OnInitializedAsync();
    }

    private void RunCountdown()
    {
        if (Parameters != null && Parameters.Deadline > DateTime.Now)
        {
            var waitTime = Parameters.Deadline - DateTime.Now;
            _days = waitTime.Days;
            _hours = waitTime.Hours;
            _minutes = waitTime.Minutes;
            _seconds = waitTime.Seconds;

            StateHasChanged();
        }
        else
        {
            Parameters = null;
            _timer.Stop();
        }
    }

    private List<string> SplitTokensInString(string htmlString)
    {
        var pattern = @"#(.*?)#";
        var matches = Regex.Split(htmlString, pattern);

        return new List<string>(matches);
    }

    private RenderFragment RenderFragmentAsStringOrImage(string token)
    {
        var tokenPattern = @"{(.*?)}";
        var match = Regex.Match(token, tokenPattern);

        if (match.Success) return@<span class="highlight">@match.Groups[1]</span>;
        else return @<span>@token</span>;
    }

    private async Task DownloadICSFile()
    {
        if (JS != null) {
            // Get bytearray
            var ics = Parameters?.Event?.AsICSCalendarEvent();

            // Call JS function to initiate download
            await JS.InvokeVoidAsync("DOM.FileDownload", "DevelopersConference2025.ics", "text/calendar", ics);
        }
    }
}