@using Calcium.Toolkit.Oxide.Components
@using Calcium.Toolkit.Schema.Sections

@if (Items.Any())
{
    <div class="features" data-size="@Expand">
        @foreach (var item in Items)
        {
            <div class="feature">
                @if (item.IconFragment != null)
                {
                    <i class="icon">
                        @item.IconFragment
                    </i>
                }
                else if (!string.IsNullOrEmpty(item.Icon)) {
                    <i class="icon">
                        <Emoji Name="Feature Icon" Path="@item.Icon" data-emoji-size="50" />
                    </i>
                }
                <h5>@item.Title</h5>
                <p>@item.Caption</p>
            </div>
        }
    </div>
}

@code {
    public enum Size { S, M, L }

    [Parameter]
    public Size Expand { get; set; } = Features.Size.M;

    [Parameter]
    public List<ContentWithIcon> Items { get; set; } = [];

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
