@using Calcium.Core.Models
@using Calcium.Toolkit.Oxide.Layouts
@using Calcium.Toolkit.Oxide.Components

@if (Parameters != null)
{
    <SectionWithTitle Title="@Parameters.Title" Caption="@Parameters.Caption" @attributes=AdditionalAttributes>
        <div class="metrics-items">
            @foreach(var item in Parameters.Items.OrderBy((e) => e.Index))
            {
                <div class="item" data-featured-item="@item.Featured">
                    @* <Vector Type="@item.Icon" Width="40" Height="40" data-animate-scroll="zoom-in-zoom-out" /> *@
                    <AnimatedEmoji Path="@item.Icon" data-emoji-size="40" data-animate-scroll="zoom-in-zoom-out" />
                    <h2 class="title">@item.Title</h2>
                    <p class="caption">@item.Caption</p>
                </div>
            }
        </div>
    </SectionWithTitle>
}

@code {
    [Parameter]
    public Sections.Cards? Parameters { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
