@using Calcium.Core.Types
@using Calcium.Toolkit.Oxide.Layouts
@using Calcium.Toolkit.Oxide.Components

@if (Parameters != null)
{
    <SectionWithTitle Title="@Parameters.Title" Caption="@Parameters.Caption">
        @if (Parameters.Items.Any())
        {
            <div class="subscription-items">    
            @foreach (var item in Parameters.Items.OrderBy((e) => e.Index))
            {
                <a class="item" href="@item.CTA?.URL" data-featured-item="@item.Featured">
                    <Vector Type="item.Icon" Width="60" Height="60" />

                    <h5 class="title">@item.Title</h5>
                    <p class="details">@item.Caption</p>

                    @if (item.CTA != null) 
                    {
                        <p class="cta">@item.CTA.Name</p>
                    }
                </a>
            }
            </div>
        }
    </SectionWithTitle>
}

@code {
    [Parameter]
    public Sections.Cards? Parameters { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
