@using Calcium.Core.Models
@using Calcium.Toolkit.Oxide.Layouts
@using Calcium.Toolkit.Oxide.Components

@if (Parameters != null)
{
    <SectionWithTitle Title="@Parameters.Title" Caption="@Parameters.Caption" @attributes=AdditionalAttributes>
        @if (Parameters.Items.Any())
        {
            <div class="subscription-items">
                @foreach (var item in Parameters.Items.OrderBy((e) => e.Index))
                {
                    <a class="item" href="@item.CTA?.URL" data-featured-item="@item.Featured">
                        @* <Vector Type="item.Icon" Width="60" Height="60" data-animate-scroll="zoom-in-zoom-out" data-animate-delay /> *@
                        <AnimatedEmoji Path="@item.Icon" data-emoji-size="xl" data-animate-scroll="zoom-in-zoom-out" />

                        <div class="item-body">
                            @if (!string.IsNullOrEmpty(item.Title))
                            {
                                <h5 class="title">@item.Title</h5>
                            }

                            @if (!string.IsNullOrEmpty(item.Caption))
                            {
                                <p class="details">@item.Caption</p>
                            }

                            @if (!string.IsNullOrEmpty(item.Conditions))
                            {
                                <p class="small">@item.Conditions</p>
                            }

                            @if (item.CTA != null)
                            {
                                <p class="cta">@item.CTA.Name</p>
                            }
                        </div>
                    </a>
                }
            </div>
        }
    </SectionWithTitle>
}

@code {
    [Parameter]
    public Sections.Cards? Parameters { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
