@using Calcium.Core.Schema
@using Calcium.Toolkit.Assets

@if (Type != null && Type != Channel.None) {
    <span class="vector-icon" @attributes=AdditionalAttributes>
        @switch (Type)
        {
            case Channel.Facebook:
                <Calcium.Toolkit.Assets.Facebook width="@Width" height="@Height" />
                break;

            case Channel.Instagram:
                <Calcium.Toolkit.Assets.Instagram width="@Width" height="@Height" />
                break;

            case Channel.Github:
                <Calcium.Toolkit.Assets.Github width="@Width" height="@Height" />
                break;

            case Channel.LinkedIn:
                <Calcium.Toolkit.Assets.LinkedIn width="@Width" height="@Height" />
                break;

            case Channel.X:
                <X width="@Width" height="@Height" />
                break;

            default:
                break;
        }
    </span>
}

@code {
    [Parameter]
    public Channel? Type { get; set; }

    [Parameter]
    public int Width { get; set; } = 20;

    [Parameter]
    public int Height { get; set; } = 20;

    [Parameter(CaptureUnmatchedValues = true)]
    public IDictionary<string, object>? AdditionalAttributes { get; set; }
}
