@inherits LayoutComponentBase
@implements IAsyncDisposable

@using Calcium.Toolkit.Oxide.Components
@using Calcium.Toolkit.Oxide.Sections
@using Calcium.Toolkit.Schema
@using Microsoft.JSInterop

@inject IJSRuntime JS

<nav class="navigation">
    <div class="container">
        <div class="brand">
            <a href="@Site.Brand.URL">
                <img src="@Site.Brand.ImagePath" alt="@Site.Brand.Label" />
            </a>
        </div>

        @if (Socials.Any())
        {
            <section class="social">
                <ul class="links">
                    @foreach (var item in Socials.OrderBy((e) => e.Index))
                    {
                        <li>
                            <a class="button small icon secondary-400" href="@item.URL">
                                @item.IconFragment
                            </a>
                        </li>
                    }
                </ul>
            </section>
        }
    </div>
</nav>

<section class="content">
    @Body
</section>

<Footer Message="@Site.Footer.Message" />

@code {
    private IJSObjectReference? module;

    public List<BaseLink> Socials = Site.Menus.Socials;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "/scripts/script.js");
            await module.InvokeVoidAsync("DOM.ObserveForAnimations");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }
}