@page "/"

@using Calcium.Core
@using Calcium.Toolkit.Oxide.Sections
@using Calcium.Toolkit.Oxide.Widgets
@using Calcium.Web.Sections

<PageTitle>Calcium | Home</PageTitle>

<Header Parameters="@Site.Sections.Hero">
    <Countdown Parameters="@Site.Widgets.Countdown" data-animate-load />
</Header>

<section id="section-throwback">
    <Metrics id="section-metrics" Parameters="@Site.Sections.Metrics" data-animate-scroll="drop-in" />
    <Gallery id="section-gallery" Parameters="@Site.Sections.Gallery" data-animate-scroll="drop-in" />
</section>

<Subscriptions id="section-cta" Parameters="@Site.Sections.Subscriptions" data-animate-scroll="drop-in">
    <WaitlistCallToAction Parameters="@Site.Widgets.Waitlist" />
</Subscriptions>